<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>State Tax</mat-card-title>
        <mat-card-subtitle>Edit the State Tax</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group" [ngClass]="{'has-error has-feedback': hasError('stateTaxId') }">
                <label for="stateTaxId">State:</label>
                <br />
                <label *ngIf="editMode">{{ statetax.stateTaxId }}</label>
                <input *ngIf="!editMode" type="text" id="stateTaxId"
                       formControlName="stateTaxId"
                       placeholder="Enter a State..."
                       class="form-control" />
                <span *ngIf="hasError('stateTaxId')" class="glyphicon glyphicon-remove form-control-feedback"
                      aria-hidden="true"></span>
                <div *ngIf="hasError('stateTaxId')"
                     class="help-block">
                    State is a required field: please insert a valid text.
                </div>
            </div>
            <div class="form-group" [ngClass]="{'has-error has-feedback': hasError('taxAmount') }">
                <label for="taxAmount">Tax Amount:</label>
                <br />
                <input id="taxAmount"
                       formControlName="taxAmount"
                       placeholder="Tax amount..."
                       class="form-control" />
                <span *ngIf="hasError('taxAmount')" class="glyphicon glyphicon-remove form-control-feedback"
                      aria-hidden="true"></span>
                <div *ngIf="hasError('taxAmount')"
                     class="help-block">
                    Text is a required field: please insert a valid text.
                </div>
            </div>
            <div class="form-group commands">
                <button *ngIf="editMode" type="submit"
                        [disabled]="form.invalid"
                        class="btn btn-success">
                    Apply Changes
                </button>

                <button *ngIf="!editMode" type="submit"
                        [disabled]="form.invalid"
                        class="btn btn-success">
                    Create State Tax
                </button>

                <button mat-stroked-button color="warn" type="submit"
                        (click)="onBack()">
                    Cancel
                </button>
            </div>

        </form>

    </mat-card-content>
</mat-card>



<div class="panel panel-info"
     style="margin-top: 20px;">
  <div class="panel-heading">Form debug info</div>
  <div class="panel-body">
    <p><strong>Form value:</strong></p>
    <div class="help-block">
      {{ form.value | json }}

    </div>
    <p><strong>Form status:</strong></p>
    <div class="help-block">
      {{ form.status | json }}
    </div>
    <p><strong>Form activity log:</strong></p>
    <div class="help-block">
      <span *ngIf="activityLog" [innerHTML]="activityLog"></span>
    </div>
  </div>
</div>
